.title2{
    color: white;
    position: absolute;
    margin-top: -8rem;
    margin-left: 2rem;
}
.docContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 6rem;
    object-fit: cover;
}
.body {
max-width: 100%;
max-height: 100%;
}