/* Paleta de colores */
:root {
--general-background: #040521;
--secondary-color: #FFC67E;
--tertiary-color: #FFFFFF;
}

/* Establecer el color de fondo principal para toda la aplicación */
body {
background-color: var(--general-background);
margin: 0;
padding: 0;
/* overflow: hidden; */
}

/* Establecer colores de texto */
.secondaryColor {
color: var(--tertiary-color);
}

.tertiaryColor {
color: var(--general-background);
}

.principal-title {
font-family: 'Lato', sans-serif;
font-weight: bold;
font-size: 64px;
}

.secondary-title {
font-family: 'Lato', sans-serif;
font-weight: bold;
font-size: 36px;
}

.tertiary-title {
font-family: 'Lato', sans-serif;
font-weight: bold;
font-size: 32px;
}

/* Estilos de texto */
.text-italic {
font-style: italic;
}

/* Menú principal */
.menu-item {
font-family: 'Montserrat', sans-serif;
font-style: italic;
font-weight: bold;
font-size: 32px;
}

/* Texto regular */
.text-regular {
font-family: 'Montserrat', sans-serif;
font-weight: normal;
font-size: 32px;
}

/* Texto semibold */
.text-semibold {
font-family: 'Montserrat', sans-serif;
font-weight: 600; /* Semibold */
font-size: 32px;
}
